<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <h1>{{title}}</h1>
            <h2>Use this site to get your weather </h2>
            <div class="content">

            <h3>Enter your City</h3>
            <form>
                <input type="text" placeholder="location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
            </div>

        </div>
        
        <!-- <h1>{{title}}</h1> -->
        
        <div class="footer">
            <h3>Connect with me:</h3>
            <a class="network" href="https://www.github.com/abhay313">GITHUB</a>
            <a class="network" href="https://www.linkedin.com/in/abhay-singh-yadav-52812b16b/">LINKEDIN</a>
            <p class="copyright">&copy; Copyright 2020 {{name}}</p>
        </div>        
         

        <script src="/js/app.js"></script>
    </body>
</html>